<div class="text-center">
    <div class="card text-center">
        <div class="card-header">
            Hello from Team Component
        </div>
        <div class="card-body">
            <h5 class="card-title">Hi I'm the Team Parent Component <i class="fa-solid fa-hand"
                    style="color: #0DCAF0"></i> and I Have A
                Child Called Supervisor 5aaafoooo Minooooooooo <i class="fa-solid fa-ghost"></i></h5>

            @if(dataToDisplay){
            <p>{{dataToDisplay}}</p>
            }@else{
            <p>
                Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nam ullam, tempore explicabo praesentium
                repellat commodi cumque nihil est modi ipsam itaque doloremque, assumenda dolorum veniam sequi illo
                corporis excepturi soluta eligendi molestias, et quae dolore odit doloribus? Corrupti inventore
                beatae
                odio sint reiciendis iusto debitis repellendus magni illo officiis error dicta dignissimos
                laboriosam,
                tenetur ab impedit, consectetur voluptatum omnis quibusdam rem deserunt. Totam expedita incidunt
                quis
                iste, consequuntur ratione atque blanditiis, eum in veritatis non eligendi? Nulla asperiores, esse
                tempore aliquam libero sequi, quibusdam distinctio voluptates, modi dolores vel a? Cumque rem vel
                libero
                natus distinctio fugiat consectetur aperiam voluptatem placeat
            </p>
            <div class="col-6 mx-auto">
                <img src="./images/23.jpg" class="w-25" alt="">
                <p>quaerat temporibus harum hic! Officiis, natus? Cupiditate ducimus esse velit consectetur sapiente
                    non
                    veritatis quidem error, atque architecto fuga delectus voluptatem iste aliquid culpa minima
                    magni
                    voluptas dolorem vero eius ullam earum pariatur. Unde cupiditate quaerat, iure recusandae
                    adipisci
                    ipsam, numquam aut consequuntur provident sint velit minus iste, repellat delectus impedit et
                    reiciendis tempore iusto voluptatem rerum. Sapiente quasi alias modi impedit. In, fugit.
                    Assumenda,
                    unde totam aliquid hic, id sint dolor mollitia reprehenderit quod omnis repellendus consequatur
                    deserunt itaque, commodi fuga dolorum. Ea deleniti ab corporis. Ullam tempora odio atque
                    blanditiis
                    reprehenderit ipsam non quos numquam corporis impedit ea consectetur nam, suscipit esse</p>
            </div>
            }
        </div>
        <p>{{conditionForIf}}</p>

        <app-supervisor (myeventcustom)="dataToDisplay = $event" (condition)="conditionForIf = $event"></app-supervisor>
        <div class="card-footer text-body-secondary">
            2 days ago
        </div>
    </div>
</div>